<a href="https://colab.research.google.com/github/anhkhoa039/CS114.K21.KHTN/blob/master/case_study1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sarcasm Detection xác định châm biếm
# Mô tả bài toán:

- Input : input là 1 headline tiếng anh bất kỳ
- Output : từ headline dự đoán đó là bài báo châm biếm hay không châm biếm 

- Thu thập Dataset: thu thập các healines từ 2 trang tin tức TheOnion 
và HuffPost. Một trang đưa các tin châm biếm và 1 trang đưa thông tin chính xác.
- Mô tả dataset: mỗi phần tử trong dataset là 1 bộ có 3 thuộc tính: 
    - article_link: link dẫn tới bài viết gốc
    - healine: tiêu đề bài viết 
    - is_sarcastic: 0 hoặc 1. 0: không châm biếm, 1: châm biếm

#THU THẬP 2000 HEADLINES MỚI
- Thu thập headline từ 2 trang TheOnion và Huffpost sử dụng extention scraper trên google chrom
- 2000 headlines chia đều cho 2 trang, mỗi trang 1000 headlines
- Sử dụng Scraper extention lấy được các headlines từ 2 trang Huffpost và theOnion và được gắn nhãn bằng excel và xuất ra file .csv
- Headlines trên Huffpost được gắn nhãn là 0 và trên theOnion là 1

# 2000 HEADLINES MỚI

In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
import pandas as np

huffpost = pd.read_csv ('/content/drive/My Drive/Colab Notebooks/Dataset/Sarcasm Detection/huffpost1.csv', header=0)
huffpost.head(5)

   is_sarcastic                                           headline
0             0  Zoomers Boast They Sabotaged Trump Rally Turno...
1             0  Millions Are Unemployed. Crises Abound. Is It ...
2             0  Investing In Harm Reduction Must Be Included I...
3             0  UK Stabbing Attack Declared A Terrorist Incide...
4             0     Minneapolis Shooting Leaves 1 Dead, 11 Injured

In [66]:
theonion= pd.read_csv ('/content/drive/My Drive/Colab Notebooks/Dataset/Sarcasm Detection/theonion1.csv',header =0)
theonion.head(5)

   is_sarcastic                                           headline
0             1  Potentially Promising Covid-19 Vaccine Hits Ro...
1             1  Woman Who Hasn’t Attended Protest Yet Hoping P...
2             1  8-Month Odyssey Of Distress, Despair Ends In R...
3             1  TikTok Apologizes After Inadvertently Giving P...
4             1  Congress Announces Willingness To Offer Black ...

In [69]:
new_data =  theonion.append(huffpost) 
new_data = new_data.sample(frac=1).reset_index(drop=True)
new_data.head()

   is_sarcastic                                           headline
0             0  Trump Tweet Mocking Obama’s ‘Unpresidential’ W...
1             0  Trump Administration Sues To Block Release Of ...
2             0  Coronavirus Live Updates: Read The Latest Abou...
3             0  As They Scream Voter Fraud, Trump And His Pres...
4             0  Oklahoma Governor Invites Donald Trump To Visi...